<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{% block title %}Hudební databáze{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
    <!-- Add additional CSS in static file -->
    {% load static %}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="jumbotron-fluid p-5 text-center bg-dark">

        <h1 class="text-white display-3">Hudební databáze</h1>
    </header>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
      <!-- Brand -->
      <a class="navbar-brand text-warning" href="{% url 'index' %}">Úvodní stránka</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Kapely
              </a>
              <div class="dropdown-menu">
                 {% for band in bands %}
                    <a class="dropdown-item" href="{% url 'band_detail' band.pk %}">{{ band.band_name }}</a>
                 {% endfor %}
              </div>
            </li>


          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Hudebníci
              </a>
              <div class="dropdown-menu">
                 {% for member in members %}
                    <a class="dropdown-item" href="{% url 'member_detail' member.pk %}  ">{{ member.person_name }}</a>
                 {% endfor %}
              </div>
            </li>
        </ul>
          <ul class="navbar-nav">
           {% if user.is_authenticated %}
             <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Uživatel: {{ user.get_username }}</a></li>
             <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link">Odhlásit se</a></li>
           {% else %}
             <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}" class="nav-link">Přihlásit se</a></li>
           {% endif %}
        </ul>
      </div>
    </nav>

    <main class="border container">
        <div class="container-fluid">
            <br>
            {% block content %}{% endblock %}
        </div>
    </main>
<footer class="container-fluid text-center">
    <hr class="bg-dark">
            <div class="container">
            <div class="row">
                <div class="col-md-11 col-9">
                    <p class="text-center"><b>&copy; 2021, sšpu IT3 - Wolf Jan</b></p>
                </div>
                <div class="col-md-1 col-3">
                    <a href="#"><i class="far fa-caret-square-up display-4 ikon "></i></a>
                </div>
            </div>

    <hr class="bg-dark">

        </div>
</footer>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>